In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# load the data from url 
url = 'https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv'
df = pd.read_csv(url)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 2

In [14]:
import pandas as pd

# Load CSV data from the URL with additional options to handle warnings
url = 'https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv'

# Read the CSV with additional parameters
data = pd.read_csv(
    url, 
    delimiter=',', 
    on_bad_lines='skip',  # Skip problematic lines
    skiprows=23,          # Skip header rows
    low_memory=False      # Prevent DtypeWarning by processing in larger chunks
)

# Display first few rows to verify the data
print(data.head())

# Check the basic information about the dataframe
print(data.info())

                date  ind rain  ind.1  temp  ind.2  wetb  dewpt  vappr  rhum  \
0  10-apr-1996 14:00    0  0.0      0  11.5      0   8.1    3.9    0.0     0
1  31-jul-1996 08:00    0  0.0      0  11.5      0  11.1   10.7    0.0     0
2  31-jul-1996 09:00    0  0.0      0  11.6      0  10.7    9.8    0.0     0
3  31-jul-1996 10:00    0  0.0      0  12.9      0  11.3    9.8    0.0     0
4  31-jul-1996 11:00    0  0.0      0  14.5      0  10.8    7.0    0.0     0

   ... ind.3  wdsp ind.4  wddir  ww   w  sun    vis clht clamt
0  ...     0     0     0      0  25  81  0.0  35000   32     5
1  ...     0     0     0      0  25  82  0.0  40000   45     5
2  ...     0     0     0      0  80  81  0.0   8000   32     7
3  ...     0     0     0      0  25  82  0.0  28000   35     6
4  ...     0     0     0      0   2  11  0.0  40000   40     6

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247674 entries, 0 to 247673
Data columns (total 21 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    247674 non-null  object
 1   ind     247674 non-null  int64
 2   rain    247674 non-null  object
 3   ind.1   247674 non-null  int64
 4   temp    247674 non-null  float64
 5   ind.2   247674 non-null  int64
 6   wetb    247674 non-null  float64
 7   dewpt   247674 non-null  float64
 8   vappr   247674 non-null  float64
 9   rhum    247674 non-null  int64
 10  msl     247674 non-null  object
 11  ind.3   247674 non-null  int64
 12  wdsp    247674 non-null  object
 13  ind.4   247674 non-null  int64
 14  wddir   247674 non-null  object
 15  ww      247674 non-null  object
 16  w       247674 non-null  object
 17  sun     247674 non-null  float64
 18  vis     247674 non-null  object
 19  clht    247674 non-null  object
 20  clamt   247674 non-null  object
dtypes: float64(5), int64(6), object(10)
memory usage: 39.7+ MB
None

In [15]:
df.head()

,10-apr-1996 14:00,0,0.0,0.1,11.5,0.2,8.1,3.9,0.0.1,0.3,...,0.4,0.5,0.6,0.7,25,81,0.0.2,35000,32,5
0,31-jul-1996 08:00,0,0.0,0,11.5,0,11.1,10.7,0.0,0,...,0,0,0,0,25,82,0.0,40000,45,5
1,31-jul-1996 09:00,0,0.0,0,11.6,0,10.7,9.8,0.0,0,...,0,0,0,0,80,81,0.0,8000,32,7
2,31-jul-1996 10:00,0,0.0,0,12.9,0,11.3,9.8,0.0,0,...,0,0,0,0,25,82,0.0,28000,35,6
3,31-jul-1996 11:00,0,0.0,0,14.5,0,10.8,7.0,0.0,0,...,0,0,0,0,2,11,0.0,40000,40,6
4,31-jul-1996 12:00,0,0.0,0,14.4,0,10.9,7.3,0.0,0,...,0,0,0,0,1,82,0.0,40000,43,6